- cache do
  %h2 Links

  %p
    %a{:href => 'http://wiki.eve-id.net/', :target => "_blank"}Eve Development Network
  %p
    %a{:href => 'http://eve-central.com/', :target => "_blank"}Eve Central
  %p
    %a{:href => 'http://dev.eve-central.com/evec-api/start', :target => "_blank"}Eve Central Developer Resources
  %p
    %a{:href => 'http://zofu.no-ip.de/bpo', :target => "_blank"}BPO Calc
  %p
    %a{:href => 'http://dl.eve-files.com/media/corp/wensley/The_Rifter_Guide_Solo_PvP.pdf', :target => "_blank"}Whensley's Rifter Guide v2.0
  %p
    %a{:href => 'http://dev.eve-central.com/unifieduploader/start', :target => "_blank"}Eve Unified Uploader
  %p
    %a{:href => 'http://eve-survival.org', :target => "_blank"}Eve Survival
  %p
    %a{:href => 'http://zofu.no-ip.de/', :target => "_blank"}Static Data Dumps
  %p
    %a{:href => 'http://www.evealtruist.com/', :target => "_blank"}Eve Altruist

